.modal-container {
  .modal-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;

    .modal-content {
      box-sizing: border-box;
      transition: transform 0.25s ease-in-out;
      width: fit-content;
      height: fit-content;
      margin: auto;
    }
  }
}
