{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "plugins": ["@typescript-eslint", "react-hooks", "jest", "prettier"],
  "extends": ["airbnb", "plugin:react/recommended", "plugin:@typescript-eslint/recommended", "plugin:react-hooks/recommended", "plugin:import/typescript", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "no-use-before-define": "off",
    "consistent-return": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/no-unused-vars": "error",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".tsx", ".ts", ".js"]
      }
    ]
  }
}
