.slider {
  position: relative;
  cursor: pointer;
  // controller및 slider 센터위치
  padding: 5px 0;
  // controller의 height - padding위아래
  height: 4px;
  width: 300px;
}

.slider__rail {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: cadetblue;
  opacity: 0.2;
}

.slider__track {
  position: absolute;
  left: 0;
  width: 30%;
  height: 4px;
  background-color: cadetblue;
}

.slider__controller {
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: red;
  transform: translateX(-50%);
}
