.slider {
  position: relative;
  cursor: pointer;

  &:hover {
    .slider__rail {
      box-shadow: 0 0 3px #e5e5e5;
    }
    .slider__track {
      box-shadow: 0 0 1.5px #24bc60;
    }
  }
}

.slider__rail {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  background-color: #f1f1f1;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.slider__track {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  transition: box-shadow 0.2s;
}

.slider__controller {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #fff;
  transform: translateX(-50%);
  transition: box-shadow 0.2s;
}
